.ProfileEntered {
  display: grid;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #e1e1e1;
  color: #767676;
}
.user_info {
  display: grid;
  margin: 0 15em;
  row-gap: 1em;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}
.input {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid transparent;
  background-color: #f5f5f5;
  color: #767676;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  font-weight: 500;
  transition: all ease .3s;
}
.input:hover{
  border: 1px solid #e1e1e1;
}
.input::placeholder{
  color: #B4B4B4;
}
.pic{
  display: flex;
  justify-content: center;
}
.warning {
  color: #767676;
  font-size: .9em;
}
