.textarea {
  background-color: #f5f5f5;
  border: 1px solid #e1e1e1;
  border-radius: 0.5em;
  resize: none;
  padding: 1em;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  color: #767676;
  transition: all ease .3s;
}
.textarea::placeholder {
  color: #b4b4b4;
}
.textarea:hover {
  border: 1px solid #cccccc;
}
.textarea:active {
  border: 1px solid #cccccc;
}
.textarea:focus {
  border: 1px solid #b3b3b3;
}
