.ArticleFull {
  display: grid;
  padding: 1em;
  row-gap: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #e1e1e1;
}
.wrapper {
  display: grid;
  row-gap: 1em;
}
.title,
.content {
  color: #767676;
  font-size: 1.5em;
  font-weight: 600;
}
.content {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}
.articlePic {
  margin-top: 0.5em;
}
.none {
  display: none;
}
.img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 0.5em;
  float: left;
  margin-right: 1em;
}
.video {
  width: 70%;
  border-radius: 0.5em;
  float: left;
  margin-right: 1em;
}
.loader{
  display: flex;
  justify-content: center;
}
