.Login {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Form {
  display: grid;
  grid-template-areas:
    "login"
    "pasww"
    "button";
  row-gap: 1em;
  width: 20em;
}
.logup {
  font-size: .9em;
  color: #767676;
  text-align: center;
}
.logup:hover {
  text-decoration: underline;
}
.form > a{
  width: 100%;
}
.links{
  display: flex;
  flex-direction: column;
  text-align: center;
}