.LeftBar {
  background-image: url("./blured.webp");
  background-size: cover;
  padding: 1em;
  height: 100vh;
  position: sticky;
  top: 0;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}