.UsersRating {
  display: grid;
  row-gap: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #dfdfdf31;
  border: 1px solid #dfdfdf15;
  box-shadow: 0 0 5px 1px #1010101a;
  margin-top: 1em;
}