.button {
  background-color: transparent;
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 700;
  color: #767676;
  border-radius: 0.5em;
  border: 1px solid #b1b1b1;
  transition: all ease 0.5s;
  padding: 0.5em 1em;
}
.button:hover {
  cursor: pointer;
  border-radius: 1.5em;
  background-color: #ebebeb;
}
.button:active {
  background-color: transparent;
  border-radius: 0.5em;
}
.green {
  color: #617c50;
  border: 1px solid #86a573;
}
.green:hover {
  background-color: #afc3a2;
}
.blue {
  color: #51717b;
  border: 1px solid #93b0b8;
}
.blue:hover {
  background-color: #c1d2d7;
}
.red {
  color: #9a6556;
  border: 1px solid #f7a289;
}
.red:hover {
  background-color: #f9b9a7;
}
