.ArticleFull {
  display: grid;
  padding: 1em;
  row-gap: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #e1e1e1;
}
.wrapper {
  display: grid;
  row-gap: 1em;
}
.title,
.content {
  color: #767676;
  font-size: 1.5em;
  font-weight: 600;
}
.content {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
}
.articlePic {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 70%;
  height: 70%;
  border-radius: .5em;
  box-sizing: border-box;
}
.none {
  display: none;
}

